@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    background-color: hsl(210, 46%, 95%) !important;
}

.about {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.profile {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid blueviolet;
}
.head__title {
    width: fit-content;
    height: 60px;
    line-height: 2px;
}
.title {
    font-size: 15px;
    width: fit-content;
    height: 25px;
    color: #fff;
}
.sub-title {
    font-size: 13px;
    color: #fff;
    opacity: 0.5;
}
.review {
    font-size: 1.4rem;
    color: hsl(0, 0%, 100%);
}
.review__para {
    font-size: 1em;
    font-weight: normal;
    color: #fff;
    opacity: 0.7;
}
.review_f {
    font-size: 1.5rem;
    color: hsl(217, 19%, 35%);
}
.review__para_f{
    font-size: 1em;
    opacity: 0.7;
}
.title_f {
    color: black;
}
.title__f{
    color: black;
}


/* background */
.daniel {
    background-image: url('images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-color: hsl(263, 55%, 52%);
    grid-column: 1/3; 
}
.jonathan {
    background-color: hsl(217, 19%, 35%);
}
.patrick {
    background-color: hsl(219, 29%, 14%);
    grid-column: 2/4;
}
.kira {
    
    grid-area: 1/4/3/4;
}
.box {
    padding: 30px;
    border-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.box_f {
    background-color: #fff;
}

/* FOOTER */
.attribution {
    text-align: center;
    background-color: hsl(217, 19%, 35%);
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.attribution a{
   text-decoration: none;
   color: #fff; 
   opacity: 0.7;
   padding: 0px 10px;
   letter-spacing: 3px;
}


/* FOR RESPONSIVE & MOBILE-FIRST DESIGN  */

.center {
    padding: 40px;
}

.mainContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px;
}

/* Media querys */
@media (max-width: 370px) {
    .mainContainer{
        display: flex;
        flex-direction: column;
    }
    .center {
        padding: 10px;
    }
}

/* 576 */
@media (max-width: 576px) {
    .mainContainer {
        display: flex;
        flex-direction: column;
    }
    .center{
        padding: 15px;
    }
}
